<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../../css/evaluate.css">
    <link rel="stylesheet" href="../../css/evaluations.css">
    <script src="../../js/evaluations.js"></script>
  </head>
  <body>
    <div class="container">
      <header><% include ../partials/header %></header>
      <main>
        <% if(message.length > 0) { %>
          <div class="authority-error-alert alert alert-warning"><p class="alert-message"><%= message %></p></div>
        <% } %>
        <div class="alert alert-info">
            <p class="alert-message">Professor <%= user.name %>, this is the result!</p>
        </div>
        <div class="panel panel-default" data-buttons="evaluate">
          <div class="panel-body">
            <button type="button" data-toggle="modal" data-target="#opinionModal" data-result="good" class="evaluate-btn btn-thumbs-o-up btn btn-default">
              <p class="good-count"><%= goodEvaluations.length %></p>
              <span class="thumbs fa fa-thumbs-up"></span>
            </button>
            <button type="button" data-toggle="modal" data-target="#opinionModal" data-result="bad" class="evaluate-btn btn-thumbs-o-down btn btn-default">
              <p class="bad-count"><%= badEvaluations.length %></p>
              <span class="thumbs fa fa-thumbs-down"></span>
            </button>
          </div>
        </div>
        <!-- Opinion Modal -->
        <div class="modal fade" id="opinionModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Opinions</h4>
              </div>
              <div class="modal-body">
                <ul class="opinions list-group list-unstyled">
                  <% goodEvaluations.forEach(function(goodEvaluation) { %>
                    <li class="<%= goodEvaluation.result %> list-group-item"><%= goodEvaluation.opinion %></li>
                  <% }); %>
                  <% badEvaluations.forEach(function(badEvaluation) { %>
                    <li class="<%= badEvaluation.result %> list-group-item"><%= badEvaluation.opinion %></li>
                  <% }); %>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="dismiss-btn btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <a href="/signout" class="btn btn-default">Signout</a>
      </main>
    </div>
  </body>
</html>
